.video_information, .youtuber, #videoInformation, #subscriber, #viewMore, #briefly, .video_form{
    color: gray;
}
.video_title, #youtuber, #videoTitle, #videoDescription{
    color: white;
}

.video_information, .youtuber, #subscriber, #viewMore, #briefly{
    font-size: small;
}
.video_title, #videoInformation, #youtuber{
    font-size: large
}
#videoTitle{
    font-size: x-large;
}

.close_button, textarea, .video_form{
    margin:1%;
}
#addButton, #deleteButton, #randomButton{
    margin:5%;
}

body{
    background-color: black;
}

a {
    text-decoration: none;
}

.video_title, #videoDescription, #youtuber{    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

textarea{
    height: 30vh;
    border: none;
    resize: none;
}