#notice{
    position: fixed;
    left: 2%;
    top: 10%;
    height: 64%;
}

#notice > *{
    width: 100%;
    border: thick dotted  black;
}

.notice_image {
    width: 50%;
}

.close_button{
    width:5%;
}